@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.track-dark::-webkit-scrollbar-track {
  background: rgb(15, 15, 15);
}
.track-light::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 10px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}